@font-face {
    font-family: "ancient-geek";
    src: url("Ancient Geek.ttf");
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Segoe UI", Arial, sans-serif;
}

#container {
    text-align: center;
    /*background: #51a7c9;*/
}
